.avatar-list {
    margin: 15px;
}

.avatar-list img {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #DDDDDD;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

img {
    max-width: 100%;
}
